
/* CSS HEX
black = oxford-blue: #000230ff;
pumpkin: #F4761Fff;
light-sea-green: #0DA6A5ff;
french-gray: #B1B6BAff;
white: #FEFEFEff;
avocado: #5F942Aff; */

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
/* font-family: 'Lato', sans-serif; */
:root{
    font-family: 'Lato', sans-serif;
    color: #000230ff;
}
header{
    background-color: #0DA6A5ff;
    display: grid;
    grid-template-columns: 150px auto;
    height: 100px;
}
header nav{
    display: flex;
    justify-content: space-around;
    background-color: #0DA6A5ff;
    height: 100px;
    margin: 0px 20px;
}
header nav a{
    text-align: center;
    color: #000230ff;
    text-decoration: none;
    align-self: center;
}
nav a:hover{
    color: white;
}
#logo_link{
    margin-left: 50px;
    max-width: 0px;
    max-height: 0px;
    z-index: 2;
}
#link{
    font-size: 1.25em;
    margin-left: 75px;
}
.logo{
    float: left;
    max-width: 150px;
    margin: 39px 30px;
    z-index: 2;
}
nav h1{
    float: left;
    font-size: 3em;
    text-align: center;
}
#search{
    align-self: center;
    margin-right: -115px;
}
input{
    height: 16px;
    width: 250px;
    padding: 8px;
    font-size: 1em;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

}
.icon{
    max-width: 33px;
    margin: -10px -5px;
    border: gray;
    border-style:solid;
    border-width: 1px;
    background-color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.sidenav {
    width: 160px; /* Set the width of the sidebar */
    position:absolute;
    z-index: 1;
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #B1B6BAff; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    margin-top: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  /* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    text-align: left;
    padding-left: 25px;
    font-size: 25px;
    color: #000230ff;
    display: block;
}

  /* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: white;
}
body{
    background-color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
main{
    margin-left: 160px;
}
main p{
    padding: 0px 100px;
}
#hero{
    display: flex;
    margin: 0 auto;
    position: relative;
    text-align: center;
}
#hero-msg{
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#hero-msg h1, #hero-msg h4{
    /* text-align: center; */
    color: #000230ff;
    z-index: 2;
}
#hero-msg h1{
    font-size: 2.5em;
}
#hero-msg h4{
    font-size: 2em;
}
.hero-img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0));
}
h2{
    text-align: center;
    margin-top: 100px;
    color: #000230ff;
}
p{
    max-width: 1000px;
    color: #000230ff;
}
.info{
    text-align: center;
    margin: 0 auto;
    padding: 0px 200px;
}
footer{
    height: 25px;
    background-color: #0DA6A5ff;
    padding: 25px 50px;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a{
    color: #000230ff;
    text-decoration: none;
}
footer a:hover{
    color: white;
}

/* allwords.html rules */
.wordlist{
    margin: 0 auto;
    width: 1000px;
    display: grid;
    grid-template-columns: 15% 1fr;
    text-align: left;
}
.word{
    text-align: left;
    padding: 20px;
    border: 2px solid;
    border-right: none;
    border-color: #000;
    font-weight: 800;
}
.definition{
    text-align: left;
    padding: 20px;
    border: 2px solid;
    border-color: #000;
}

/* letter page rules */



@media screen and (max-width: 900px) {
    #search{
        display: none;
    }
    #link{
        display: none;
    }
}