body{
    background-color: pink;
    font-family: Arial, Helvetica, sans-serif;
}
#clowning{
    max-width: 600px;
    margin: 0 auto;
    padding: 4em;
    font-size: 18px;
    text-align: center;
}
#education{
    max-width: 500px;
    color: white;
}
#thickheader{
    max-width: 450px;
    margin: 0 auto;
    padding: 4em;
    font-size: 14px;
    text-align: center;
    color: white;
}
#nelsonname{
    color: white;
}
#list{
    max-width: 450px;
    color: black;
    text-align: left;
    line-height: 1.75rem;
}
#nelson{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
#thinboi{
    font-family: "Times New Roman", Times, serif;
    max-width: 325px;
    color: white;
    margin-left: auto;
    margin-right: auto;
    line-height: 2.5rem;
}
#footerbaby{
    max-width: 300px;
    font-size: 12px;
    text-align: center;
    margin: 0 auto;
}

/* Isaac Legler
Joshua Duenas
Dallen Harmon */
